src/conf/xml-resources/web-service-references/TravelAppService/wsdl/localhost_8080/TravelWebService/TravelAppService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://travel.dn.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://travel.dn.com/">

<xs:element name="addSex" type="tns:addSex" />

<xs:element name="addSexResponse" type="tns:addSexResponse" />

<xs:complexType name="addSex">
<xs:sequence>
<xs:element name="user" type="tns:sex" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="sex">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="addSexResponse">
<xs:sequence />
</xs:complexType>
</xs:schema>