web/WEB-INF/wsdl/localhost_8080/TravelWebService/AccountService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://service.travel.dn.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.travel.dn.com/">

<xs:element name="createUser" type="tns:createUser" />

<xs:element name="createUserResponse" type="tns:createUserResponse" />

<xs:element name="login" type="tns:login" />

<xs:element name="loginResponse" type="tns:loginResponse" />

<xs:element name="updateUser" type="tns:updateUser" />

<xs:element name="updateUserResponse" type="tns:updateUserResponse" />

<xs:complexType name="updateUser">
<xs:sequence>
<xs:element name="arg0" type="tns:user" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="name" type="xs:string" minOccurs="0" />
<xs:element name="pass" type="xs:string" minOccurs="0" />
<xs:element name="role" type="xs:string" minOccurs="0" />
<xs:element name="username" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUser">
<xs:sequence>
<xs:element name="arg0" type="tns:user" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>